@{
    Layout = "~/_xuejiLayout.cshtml";
    var db = Database.Open("ctXueji");
    var classes_id = Convert.ToInt16(Request.QueryString["classes_id"]);
    var week = "";
}
<style>
    .t {
        height: 80px;
        background-color: #dedef8;
        box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;
        text-align: center;
        line-height: 80px;
    }

    .c {
        background-color: #dedef8;
        height: 128px;
        box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;
        text-align: center;
    }

    .ing {
        background-color: #84ff7a;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-2 t">课节/星期</div>
        <div class="col-md-2 t">星期一</div>
        <div class="col-md-2 t">星期二</div>
        <div class="col-md-2 t">星期三</div>
        <div class="col-md-2 t">星期四</div>
        <div class="col-md-2 t">星期五</div>
    </div>
    @for (int n = 1; n <= 5; n++)
    {
        <div class="row">
            <div class="col-md-2 c">@Functions.LessonsOrder(n)</div>
            @{

                for (int i = 1; i <= 5; i++)
                {
                    <div class="col-md-2 c">
                        @{

                            week = "select * from View_coursesArranging_one where weekDays = " + i + "and lessonsOrder=" + n ;
                            foreach (var cla in db.Query(week))
                            {
                                string x = cla.classes_id;
                                string[] p = x.Split(',');
                                int b = 0;
                                foreach (var a in p)
                                {
                                    if (Convert.ToInt16(a) == classes_id)
                                    {
                                        week = "select * from View_coursesArranging_one where id=" + cla.id;
                                        b = 1;
                                        break;
                                    }
                                    else
                                    {
                                        week = "select * from View_coursesArranging_one where id=-1";
                                        continue;
                                    }
                                }
                                if (b == 1)
                                {
                                    break;
                                }
                            }

                        }
                        @foreach (var cellRow in db.Query(week))
                        {
                            <span><h1>@i - @n</h1>@cellRow.class_name 教室<br>@cellRow.teachers_name<br>(@cellRow.courses_name)</span><br>
                        }
                    </div>
                }
            }
        </div>
    }
</div>