@{
    Layout = "~/_xuejiLayout.cshtml";
    if (Session["name"] == null || Session["username"] == null)
    {
        Response.Redirect("~/login.cshtml");
    }
    var db = Database.Open("ctXueji");
    var list="";
}
@if (Convert.ToInt16(Session["authority"]) == 2)
{
    list = "select * from rollcall order by time_stamp DESC";//user_power="+Convert.ToInt16(Session["authority"])+"
}
else
{
    list = "select * from rollcall where USER_NAME='"+Convert.ToString(Session["name"])+"' order by time_stamp DESC";//user_power="+Convert.ToInt16(Session["authority"])+"
}
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable(
                {
                    // "paging": false,
                    "ordering": false
                });
        });
    </script>
    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>班级</th>
                <th>课程</th>
                <th>出勤率</th>
                <th>时间</th>
                <th>操作人</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in db.Query(list))
            {
                <tr>
                    @{
                        var cid = row.classes_id;
                        var coid = row.courses_id;
                        var classList = "select *from classes where id=" + cid;
                        var row1 = db.QuerySingle(classList);
                        var mid = row1.majors_id;
                        var majorsList = "select *from majors where id=" + mid;
                        var row2 = db.QuerySingle(majorsList);
                        var coursesList = "select *from courses where id=" + coid;
                        var row3 = db.QuerySingle(coursesList);
                    }
                    <td class="center">@row1.classes_year @row2.majors_name</td>
                    <td class="center">@row3.courses_name</td>
                    @{
                        var time = row.time_stamp;
                        var classes_id = row.classes_id;
                        var courses_id = row.courses_id;
                        float c = 0;
                        float z = 0;
                        float b = 0;
                        var cqlist = "select *from rollcall where classes_id=" + classes_id + " and courses_id = " + courses_id + " and time_stamp='" + time + "'";
                        var dic = row.sid_state;//合并后查询

                        foreach (var row4 in Functions.StringToDictionary(dic))
                        {
                            z++;
                            if (row4.Value == 1 || row4.Value == 4)
                            {
                                continue;
                            }
                            else
                            {
                                c++;
                            }

                        }
                        if (z == 0)
                        {
                            <td class="centent"><span class="btn btn-success">100 %</span>&nbsp;<font>总:@z</font>&nbsp;<font>未:@c</font></td>

                        }
                        else if (z == c)
                        {
                            <td class="centen"><span class="btn btn-warning">50 %</span>&nbsp;<font>总:@z</font>&nbsp;<font>未:@c</font></td>
                        }
                        else
                        {
                            b = ((z - c) / z);
                            b = b * 100;
                            string resultPercent=string.Format("{0:f2}", b);
                            if (b > 90)
                            {
                                <td class="centent"><span class="btn btn-success">@resultPercent %</span>&nbsp;<font>总:@z</font>&nbsp;<font>未:@c</font></td>
                            }
                            else if (b > 75)
                            {
                                <td class="centent"><span class="btn btn-warning">@resultPercent %</span>&nbsp;<font>总:@z</font>&nbsp;<font>未:@c</font></td>
                            }
                            else
                            {
                                <td class="centen"><span class="btn btn-danger">@resultPercent %</span>&nbsp;<font>总:@z</font>&nbsp;<font>未:@c</font></td>
                            }
                        }
                    }
                    <td class="center"><a href="~/rollcall_history.cshtml?time=@row.time_stamp">@row.time_stamp</a></td>
                    <td class="center">@row.user_name</td>
                </tr>
            }
        </tbody>
    </table>