@{
    Layout = "~/_xuejiLayout.cshtml";
    if (Session["name"] == null || Session["username"] == null)
    {
        Response.Redirect("~/login.cshtml");
    }
    var db = Database.Open("ctXueji");
}
@if (Convert.ToInt16(Session["authority"]) == 2)
{
    var list = "select time,classes_id,courses_id,user_power,user_name from rollcall group by time,classes_id,courses_id,user_power,user_name order by time desc";//user_power="+Convert.ToInt16(Session["authority"])+"

    <font id="nowTime" color=grey size="5"></font>

    <script>
        function showTime() {
            nowtime = new Date();
            year = nowtime.getFullYear();
            month = nowtime.getMonth() + 1;
            date = nowtime.getDate();
            document.getElementById("nowTime").innerText = year + "年" + month + "月" + date + "" + nowtime.toLocaleTimeString();
        }
        setInterval("showTime()", 1000);
    </script>

    <table class="table table-striped table-bordered table-hover bootstrap-datatable datatable">
        <tr class="t">
            <th>班级</th>
            <th>课程</th>
            <th>出勤率</th>
            <th>时间</th>
            <th>操作人</th>
        </tr>

        @foreach (var row in db.Query(list))
        {
            <tr class="t">
                @{
                    var cid = row.classes_id;
                    var coid = row.courses_id;
                    var classList = "select *from classes where id=" + cid;
                    var row1 = db.QuerySingle(classList);
                    var mid = row1.majors_id;
                    var majorsList = "select *from majors where id=" + mid;
                    var row2 = db.QuerySingle(majorsList);
                    var coursesList = "select *from courses where id=" + coid;
                    var row3 = db.QuerySingle(coursesList);
                }
                <td class="center">@row1.classes_year @row2.majors_name</td>
                <td class="center">@row3.courses_name</td>
                @{
                    var time = row.time;
                    var classes_id = row.classes_id;
                    var courses_id = row.courses_id;
                    float c = 0;
                    float z = 0;
                    float b = 0;
                    var cqlist = "select *from rollcall where classes_id=" + classes_id + " and courses_id = " + courses_id + " and time='" + time+"'";
                    foreach (var row4 in db.Query(cqlist))
                    {
                        z++;
                        if (row4.state == 1 || row4.state == 4)
                        {
                            continue;
                        }
                        else
                        {
                            c++;
                        }
                        
                    }
                    if (z == 0)
                    {
                        <td class="centent"><span class="btn btn-success">100 %</span></td>

                    }
                    else if (z == c)
                    {
                        <td class="centen"><span class="btn btn-warning">50 %</span></td>
                    }
                    else
                    {
                        b = ((z - c) / z);
                        b = b * 100;
                        if (b > 90)
                        {
                            <td class="centent"><span class="btn btn-success">@b %</span></td>
                        }
                        else if (b > 75)
                        {
                            <td class="centent"><span class="btn btn-danger">@b %</span></td>
                        }
                        else
                        {
                            <td class="centen"><span class="btn btn-warning">@b %</span></td>
                        }
                    }
                }
                <td class="center"><a href="~/rollcall_history.cshtml?time=@row.time">@row.time</a></td>
                <td class="center">@row.user_name</td>
            </tr>
        }


    </table>
}
else
{
    var list = "select time,classes_id,courses_id,user_power,user_name from rollcall where user_name='" + Convert.ToString(Session["name"]) + "' group by time,classes_id,courses_id,user_power,user_name order by time desc";//user_power="+Convert.ToInt16(Session["authority"])+"

    <font id="nowTime" color=grey size="5"></font>

    <script>
        function showTime() {
            nowtime = new Date();
            year = nowtime.getFullYear();
            month = nowtime.getMonth() + 1;
            date = nowtime.getDate();
            document.getElementById("nowTime").innerText = year + "年" + month + "月" + date + "" + nowtime.toLocaleTimeString();
        }
        setInterval("showTime()", 1000);
    </script>

    <table class="table table-striped table-bordered table-hover bootstrap-datatable datatable">
        <tr class="t">
            <th>班级</th>
            <th>课程</th>
            <th>出勤率</th>
            <th>时间</th>
            <th>操作人</th>
        </tr>

        @foreach (var row in db.Query(list))
        {
            <tr class="t">
                @{
                    var cid = row.classes_id;
                    var coid = row.courses_id;
                    var classList = "select *from classes where id=" + cid;
                    var row1 = db.QuerySingle(classList);
                    var mid = row1.majors_id;
                    var majorsList = "select *from majors where id=" + mid;
                    var row2 = db.QuerySingle(majorsList);
                    var coursesList = "select *from courses where id=" + coid;
                    var row3 = db.QuerySingle(coursesList);
                }
                <td class="center">@row1.classes_year @row2.majors_name</td>
                <td class="center">@row3.courses_name</td>
                @{
                    var time = row.time;
                    var classes_id = row.classes_id;
                    var courses_id = row.courses_id;
                    float c = 0;
                    float z = 0;
                    float b = 0;
                    var cqlist = "select *from rollcall where classes_id=" + classes_id + " and courses_id = " + courses_id + " and time='" + time + "'";
                    foreach (var row4 in db.Query(cqlist))
                    {
                        z++;
                        if (row4.state == 1||row4.state == 4)
                        {
                            continue;
                        }
                        else
                        {
                            c++;
                        }
                        
                    }
                    if (z == 0)
                    {
                        <td class="centent"><span class="btn btn-success">100 %</span></td>

                    }
                    else if (z == c)
                    {
                        <td class="centen"><span class="btn btn-warning">50 %</span></td>
                    }
                    else
                    {
                        b = ((z - c) / z);
                        b = b * 100;
                        if (b > 90)
                        {
                            <td class="centent"><span class="btn btn-success">@b %</span></td>
                        }
                        else if (b > 75)
                        {
                            <td class="centent"><span class="btn btn-danger">@b %</span></td>
                        }
                        else
                        {
                            <td class="centen"><span class="btn btn-warning">@b %</span></td>
                        }
                    }
                }
                <td class="center"><a href="~/rollcall_history.cshtml?time=@row.time">@row.time</a></td>
                <td class="center">@row.user_name</td>
            </tr>
        }


    </table>
}